.forget-password{margin: 90px auto 0 auto; width:380px;}
.forget-password .form-item{overflow:hidden; border: 2px solid #94712b; margin-bottom:6px; position: relative;}
.forget-password .form-item input[type=text], .forget-password .form-item input[type=password]{display:block; float: left; width: 69%; height: 24px;line-height: 24px;color:#94712b;background-color:transparent; border:0;font-family: 'Courier New','Times New Roman','微软雅黑',arial,sans-serif;font-size: 14px;}
.forget-password .form-item label{display:block; float:left; width:31%; height: 24px;box-sizing: border-box;color:#94712b;padding:0 0 0 2%;border-right: 2px solid #94712b;}
.forget-password .form-item.phone {position: relative}
.forget-password .form-item .send-code {position: absolute; width: 25%; background: #000; top: 0; height: 24px;line-height: 24px;right: 0; font-size: 12px;color: #94712b; text-align: center; border-left: 1px solid #94712b; cursor: pointer}
.forget-password .form-item .send-code.disable {color: #999;}
.forget-password .block-btn{display:block; width: 100%; color:#94712b;border: 2px solid #94712b;padding:3px; margin-top:20px; text-decoration:none; text-align:center;background-color:transparent;}
.forget-password .creat-account{width:190px; margin-left:auto; margin-right:auto;}
.forget-password h2 {font-size: 24px; width: 80px; margin: 0 auto; border-bottom: 2px solid  #94712b; color: #94712b; padding: 20px 0 25px; text-align: center; font-style: normal; position: relative; height: 28px; margin-bottom:25px;}
.forget-password h2 span {white-space: nowrap; position: absolute; width: 1000px; text-align: center; left: 50%; top: 30px; line-height: 28px; height: 28px; margin-left: -500px; font-weight: normal;}
@media all and (max-width: 960px) {/*mobile*/
	.forget-password{width:auto;}
	.forget-password .creat-account{width:auto;}
	.forget-password .form-item label{width:25%;}
	.forget-password .form-item input[type=text], .forget-password .form-item input[type=password]{width:70%;}
}







