<?xml version="1.0"?>
<config>
    <modules>
        <D1m_Integral>
            <version>1.0.0</version>
        </D1m_Integral>
    </modules>

    <frontend>
        <routers>
            <integral>
                <use>standard</use>
                <args>
                    <module>D1m_Integral</module>
                    <frontName>integral</frontName>
                </args>
            </integral>
        </routers>
        <layout>
			<updates>
				<D1m_Integral>
					<file>d1m_integral.xml</file>
				</D1m_Integral>
			</updates>
		</layout>
        <translate>
            <modules>
                <D1m_Integral>
                    <files>
                        <default>D1m_Integral.csv</default>
                    </files>
                </D1m_Integral>
            </modules>
        </translate>
    </frontend>

    <admin>
		<routers>
			<adminhtml>			
				<args>
					<modules>
	 					<D1m_Integral before="Mage_Adminhtml">D1m_Integral_Adminhtml</D1m_Integral>
					</modules>
					<frontName>integral</frontName>
				</args>
			</adminhtml>
		</routers>		
   </admin>
   <adminhtml>
   		<translate>
            <modules>
                <D1m_Integral>
                    <files>
                        <default>D1m_Integral.csv</default>
                    </files>
                </D1m_Integral>
            </modules>
        </translate>
        <menu>
            <etam>
                <children>
                    <d1m_integral translate="title" module="d1m_integral">
                        <title>User Integral</title>    
                        <action>adminhtml/integral/</action> 
                        <sort_order>126</sort_order>                     
                    </d1m_integral>                    
                </children>
             </etam>
        </menu>
		<acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <d1m_integral translate="title" module="d1m_integral">
                                    <title>integral</title>                                    
                                </d1m_integral>
                            </children>
                        </catalog>
                        <system>
		                    <children>
		                        <config>
		                            <children>		                            	
		                                <d1m_integral translate="title" module="d1m_integral">
		                                    <title>Integral Section</title>
		                                </d1m_integral>
		                            </children>
		                        </config>
		                    </children>
		                </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global> 
		<models>
			<d1m_integral>
				<class>D1m_Integral_Model</class>
				<resourceModel>d1m_integral_mysql4</resourceModel>
			</d1m_integral>
			<d1m_integral_mysql4>
            	<class>D1m_Integral_Model_Mysql4</class>
            	<entities>
		            <integral>
		                <table>integral</table>
		            </integral>
		            <history>
		                <table>integral_history</table>
		            </history>
            	</entities>            	  
        	</d1m_integral_mysql4>
		</models>
		<resources>
            <d1m_integral_setup>
                <setup>
                    <module>D1m_Integral</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </d1m_integral_setup>
            <d1m_integral_write>
				<connection>
					<use>core_write</use>
				</connection>
			</d1m_integral_write>
			<d1m_integral_read>
				<connection>
					<use>core_read</use>
				</connection>
			</d1m_integral_read>    
   		</resources>
		<blocks>     
			  <d1m_integral>
			  	 <class>D1m_Integral_Block</class>
			  </d1m_integral>	
		</blocks>

		<helpers>
			<d1m_integral>
				<class>D1m_Integral_Helper</class>
			</d1m_integral>
		</helpers>
    </global>
</config>
