<?xml version="1.0"?>
<config>
    <modules>
        <D1m_Core>
            <version>0.1.0</version>
        </D1m_Core>
    </modules>
    <global>
        <models>
            <d1m_core>
                <class>D1m_Core_Model</class>
            </d1m_core>
        </models>
        <helpers>
            <d1m_core><class>D1m_Core_Helper</class></d1m_core>
            <core>
                <encryption_model>D1m_Core_Model_Encryption</encryption_model>
            </core>
        </helpers>
    </global>

</config>
