<?xml version="1.0" ?>
<config>
    <modules>
        <D1m_Sandpay>
            <version>0.1.1</version>
        </D1m_Sandpay>
    </modules>
    <global>
        <models>
            <sandpay>
                <class>D1m_Sandpay_Model</class>
            </sandpay>
        </models>
        <blocks>
            <sandpay><class>D1m_Sandpay_Block</class></sandpay>
    	</blocks>
        <payment>
            <sandpay_payment>
                <languages>
                    <CN>
                        <code>CN</code>
                        <name>Chinese</name>
                    </CN>
                </languages>
            </sandpay_payment>
        </payment>
        <helpers>
            <sandpay>
                <class>D1m_Sandpay_Helper</class>
            </sandpay>
        </helpers>
        <resources>
            <sandpay_setup>
                <setup>
                    <module>D1m_Sandpay</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </sandpay_setup>
        </resources>

    </global>
    <frontend>
        <secure_url>
            <sand_payment>/sandpay/payment</sand_payment>
        </secure_url>
        <routers>
            <sandpay>
                <use>standard</use>
                <args>
                    <module>D1m_Sandpay</module>
                    <frontName>sandpay</frontName>
                </args>
            </sandpay>
        </routers>
        <translate>
            <modules>
                <D1m_Sandpay>
                    <files>
                        <default>D1m_Sandpay.csv</default>
                    </files>
                </D1m_Sandpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <sandpay>
                    <file>sandpay.xml</file>
                </sandpay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <D1m_Sandpay>
                    <files>
                        <default>D1m_Sandpay.csv</default>
                    </files>
                </D1m_Sandpay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <sandpay_payment>
                  <model>sandpay/payment</model>
                  <title>Sandpay</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
                  <prefix_creditorder>scredit</prefix_creditorder>
                  <prefix_order>scourse</prefix_order>
            </sandpay_payment>
        </payment>
    </default>
</config>