<?xml version="1.0"?>
<config>
    <modules>
        <D1m_Course>
            <version>1.0.0</version>
        </D1m_Course>
    </modules>

    <frontend>
		 <routers>
            <course>
                <use>standard</use>
                <args>
                    <module>D1m_Course</module>
                    <frontName>course</frontName>
                </args>
            </course>
        </routers>
  
        <layout>
			<updates>
				<D1m_Course>
					<file>d1m_course.xml</file>
				</D1m_Course>
			</updates>
		</layout>
        <translate>
            <modules>
                <D1m_Course>
                    <files>
                        <default>D1m_Course.csv</default>
                    </files>
                </D1m_Course>
            </modules>
        </translate>
    </frontend>
   
    <global> 
		<models>
			<d1m_course>
				<class>D1m_Course_Model</class>
				<resourceModel>d1m_course_mysql4</resourceModel>
			</d1m_course>
			<d1m_course_mysql4>
            	<class>D1m_Course_Model_Mysql4</class>
        	</d1m_course_mysql4>
		</models>
		<resources>
            <d1m_course_setup>
                <setup>
                    <module>D1m_Course</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </d1m_course_setup>
            <d1m_course_write>
				<connection>
					<use>core_write</use>
				</connection>
			</d1m_course_write>
			<d1m_course_read>
				<connection>
					<use>core_read</use>
				</connection>
			</d1m_course_read>    
   		</resources>
		<blocks>     
			  <d1m_course>
			  	 <class>D1m_Course_Block</class>
			  </d1m_course>	
		</blocks>

		<helpers>
			<d1m_course>
				<class>D1m_Course_Helper</class>
			</d1m_course>
		</helpers>
    </global>
</config>
