<?xml version="1.0"?>
<config>
    <modules>
        <Robi_Checkout>
            <version>1.0.2</version>
        </Robi_Checkout>
    </modules>

    <frontend>
        <routers>
            <robi_checkout>
                <use>standard</use>
                <args>
                    <module>Robi_Checkout</module>
                    <frontName>rcheckout</frontName>
                </args>
            </robi_checkout>
        </routers>
        <layout>
			<updates>
				<Robi_Checkout>
					<file>robi_checkout.xml</file>
				</Robi_Checkout>
			</updates>
		</layout>
        <translate>
            <modules>
                <Robi_Checkout>
                    <files>
                        <default>Robi_Checkout.csv</default>
                    </files>
                </Robi_Checkout>
            </modules>
        </translate>
    </frontend>

    <global>
	    <rewrite>
	        <robi_rcheckout_cart>
	            <from><![CDATA[#^/checkout/cart/#]]></from>
	            <to>/rcheckout/cart/</to>
	        </robi_rcheckout_cart>
	        <robi_rcheckout_onepage>
	            <from><![CDATA[#^/checkout/onepage/#]]></from>
	            <to>/rcheckout/onepage/</to>
	        </robi_rcheckout_onepage>
	    </rewrite>
    	 
		<models>
			<robi_checkout>
				<class>Robi_Checkout_Model</class>
				<resourceModel>robi_checkout_mysql4</resourceModel>
			</robi_checkout>
		</models>
		<resources>
            <robi_checkout_setup>
                <setup>
                    <module>Robi_Checkout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </robi_checkout_setup>
            <robi_checkout_write>
				<connection>
					<use>core_write</use>
				</connection>
			</robi_checkout_write>
			<robi_checkout_read>
				<connection>
					<use>core_read</use>
				</connection>
			</robi_checkout_read>    
   		</resources>
		<blocks>     
			  <robi_checkout>
			  	 <class>Robi_Checkout_Block</class>
			  </robi_checkout>	
		</blocks>

		<helpers>
			<robi_checkout>
				<class>Robi_Checkout_Helper</class>
			</robi_checkout>
		</helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <robi_checkout translate="title" module="robi_checkout">
                                            <title>短信配置</title>
                                        </robi_checkout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
