<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <D1m_CouponRule>
            <version>0.2.4</version>
        </D1m_CouponRule>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <D1m_CouponRule before="Mage_Checkout">D1m_CouponRule</D1m_CouponRule>
                    </modules>
                </args>
            </checkout>
            <couponRule>
                <use>standard</use>
                <args>
                    <module>D1m_CouponRule</module>
                    <frontName>couponrule</frontName>
                </args>
            </couponRule>
        </routers>
        <layout>
          <updates>
              <couponRule module="D1m_CouponRule">
                  <file>accountcoupon.xml</file>
              </couponRule>
          </updates>
      </layout>
       <translate>
            <modules>
                <D1m_CouponRule>
                    <files>
                        <default>D1m_CouponRule.csv</default>
                    </files>
                </D1m_CouponRule>
            </modules>
	    </translate>
    </frontend>
    <admin>
        <routers>
             <adminhtml>
                 <args>
                     <modules>
                         <couponRule before="Mage_Adminhtml">D1m_CouponRule_Adminhtml</couponRule>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <salesrule_rule_get_coupon_types>
                <observers>
                    <enableAutoCouponType>
                        <type>singleton</type>
                        <class>D1m_CouponRule_Model_Observer</class>
                        <method>enableAutoCouponType</method>
                    </enableAutoCouponType>
                </observers>
            </salesrule_rule_get_coupon_types>
            <adminhtml_promo_quote_edit_tab_main_prepare_form>
                <observers>
                    <conditionalOriginalPrice>
                        <type>singleton</type>
                        <class>D1m_CouponRule_Model_Observer</class>
                        <method>addOriginalPriceField</method>
                    </conditionalOriginalPrice>
                </observers>
            </adminhtml_promo_quote_edit_tab_main_prepare_form>
            <sales_convert_quote_address_to_order_address>
                <observers>
                    <conditionalOriginalPrice>
                        <type>singleton</type>
                        <class>D1m_Credits_Model_Observer</class>
                        <method>updateQuote</method>
                    </conditionalOriginalPrice>
                </observers>
            </sales_convert_quote_address_to_order_address>
        </events>

        <translate>
            <modules>
                <D1m_CouponRule>
                    <files>
                        <default>D1m_CouponRule.csv</default>
                    </files>
                </D1m_CouponRule>
            </modules>
        </translate>
    </adminhtml>


    <global>
        <events>
            <create_account_success>
                <observers>
                    <newcustomercoupon>
                        <class>couponRule/observer</class>
                        <method>newCustomerCouponGenerator</method>
                    </newcustomercoupon>
                </observers>
            </create_account_success>
            <customer_save_before>
                <observers>
                    <customerfrontendevent>
                        <type>singleton</type>
                        <class>D1m_CouponRule_Model_Observer</class>
                        <method>beforeSaveCustomerData</method>
                    </customerfrontendevent>
                </observers>
            </customer_save_before>
            <customer_save_after>
                <observers>
                    <customeradminevent>
                        <type>singleton</type>
                        <class>D1m_CouponRule_Model_Observer</class>
                        <method>generateCodeAndSendMessage</method>
                    </customeradminevent>
                </observers>
            </customer_save_after>
            <order_cancel_after>
                <observers>
                    <cancel_order_release_coupon_events>
                        <class>D1m_CouponRule_Model_Observer</class>
                        <method>releaseUsedCoupon</method>
                    </cancel_order_release_coupon_events>
                </observers>
            </order_cancel_after>
            <sales_order_creditmemo_refund>
                <observers>
                    <canecl_order_creditmemo_events>
                        <class>D1m_CouponRule_Model_Observer</class>
                        <method>releaseUsedCouponCreditmemoRefund</method>
                    </canecl_order_creditmemo_events>
                </observers>
            </sales_order_creditmemo_refund>
          <!--<salesrule_validator_process>
                <observers>
                    <salesrule_process>
                        <type>singleton</type>
                        <class>D1m_CouponRule_Model_Observer</class>
                        <method>testingProcess</method>
                    </salesrule_process>
                </observers>
            </salesrule_validator_process>-->
        </events>
       <blocks>
            <couponRule>
                <class>D1m_CouponRule_Block</class>
            </couponRule>
           <adminhtml>
               <rewrite>
                   <promo_quote_grid>D1m_CouponRule_Block_Adminhtml_Promo_Quote_Grid</promo_quote_grid>
                   <customer_edit_tabs>D1m_CouponRule_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                   <promo_quote_edit_tab_coupons>D1m_CouponRule_Block_Adminhtml_Promo_Quote_Edit_Tab_Coupons</promo_quote_edit_tab_coupons>
                   <promo_quote_edit_tab_coupons_grid>D1m_CouponRule_Block_Adminhtml_Promo_Quote_Edit_Tab_Coupons_Grid</promo_quote_edit_tab_coupons_grid>
               </rewrite>
           </adminhtml>
        </blocks>
        <payment>
            <coupon_payment>
                <languages>
                    <CN>
                        <code>CN</code>
                        <name>Chinese</name>
                    </CN>
                </languages>
            </coupon_payment>
        </payment>
        <models>
            <couponRule>
                <class>D1m_CouponRule_Model</class>
                <resourceModel>couponRule_mysql4</resourceModel>
            </couponRule>
            <salesrule>
                <rewrite>
                    <coupon_massgenerator>D1m_CouponRule_Model_Coupon_Massgenerator</coupon_massgenerator>
                    <validator>D1m_CouponRule_Model_Validator</validator>
                </rewrite>
            </salesrule>
            <salesrule_resource>
                <rewrite>
                    <coupon_usage>D1m_CouponRule_Model_Resource_Coupon_Usage</coupon_usage>
                </rewrite>
            </salesrule_resource>
            <couponRule_mysql4>
                <class>D1m_CouponRule_Model_Mysql4</class>
                <entities>
                    <coupon>
                        <table>coupon_mapping_customer</table>
                    </coupon>
                </entities>
            </couponRule_mysql4>
        </models>
        <helpers>
            <couponRule>
                <class>D1m_CouponRule_Helper</class>
            </couponRule>
        </helpers>
        <resources>
            <couponRule_setup>
                <setup>
                    <module>D1m_CouponRule</module>
                    <class>D1m_CouponRule_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </couponRule_setup>
            <couponRule_read>
                <use>core_read</use>
            </couponRule_read>
            <couponRule_write>
                <use>core_write</use>
            </couponRule_write>
        </resources>
        <template>
            <email>
                <couponRule_mail_notice_for_coupon_template translate="label" module="couponRule">
                    <label>Send Notice Coupon To WebMaster</label>
                    <file>send_notice_coupon.html</file>
                    <type>html</type>
                </couponRule_mail_notice_for_coupon_template>
            </email>
        </template>
    </global>

      <default>
        <couponRule>
            <general>
                <enabled>1</enabled>
            </general>
            <mail_notice_for_coupon>
                <identity>notice_coupon_sender</identity>
                <template>couponRule_mail_notice_for_coupon_template</template>
            </mail_notice_for_coupon>
        </couponRule>
          <payment>
              <couponRule_payment>
                  <model>couponRule/payment</model>
                  <active>1</active>
                  <title>couponRule_payment</title>
                  <subject>couponRule_payment</subject>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
                  <prefix_creditorder>credit</prefix_creditorder>
                  <prefix_order>course</prefix_order>

                  <order_status>pending</order_status>
                  <order_status_payment_accepted>processing</order_status_payment_accepted>
                  <order_status_payment_refused>pending</order_status_payment_refused>
              </couponRule_payment>

          </payment>


    </default>
</config>