<?xml version="1.0"?>
<config>
    <modules>
        <D1m_Slides>
            <version>1.0.0</version>
        </D1m_Slides>
    </modules>
    <global>
        <models>
            <d1m_slides>
                <class>D1m_Slides_Model</class>
                <resourceModel>d1m_slides_resource</resourceModel>
            </d1m_slides>
            <d1m_slides_resource>
                <class>D1m_Slides_Model_Resource</class>
                <entities>
                    <slide>
                        <table>d1m_slide</table>
                    </slide>
                    <group>
                        <table>d1m_slides_group</table>
                    </group>
                    <mapping>
                        <table>d1m_slide_group_mapping</table>
                    </mapping>
                </entities>
            </d1m_slides_resource>
        </models>
        <blocks>
            <d1m_slides>
                <class>D1m_Slides_Block</class>
            </d1m_slides>
        </blocks>
        <helpers>
            <d1m_slides>
                <class>D1m_Slides_Helper</class>
            </d1m_slides>
        </helpers>
        <resources>
            <d1m_slides_setup>
                <setup>
                    <module>D1m_Slides</module>
                </setup>
            </d1m_slides_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <d1m_slides before="Mage_Adminhtml">D1m_Slides_Adminhtml</d1m_slides>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>