<?xml version="1.0"?>
<config>
    <modules>
        <D1m_Chef>
            <version>0.1.0</version>
        </D1m_Chef>
    </modules>
    <admin>
        <routers>
            <chef>
                <use>admin</use>
                <args>
                    <module>D1m_Chef</module>
                    <frontName>chef</frontName>
                </args>
            </chef>
        </routers>
    </admin>
    <frontend>
        <routers>
            <d1m_chef>
                <use>standard</use>
                <args>
                    <module>D1m_Chef</module>
                    <frontName>chef</frontName>
                </args>
            </d1m_chef>
        </routers>
        <layout>
            <updates>
                <chef>
                    <file>chef.xml</file>
                </chef>
            </updates>
        </layout>
        <translate>
            <modules>
                <D1m_Chef>
                    <files>
                        <D1m_Chef>D1m_Chef.csv</D1m_Chef>
                    </files>
                </D1m_Chef>
            </modules>
        </translate>
    </frontend>

    <adminhtml>


        <menu>
            <etam>
                <children>
                    <d1m_chef translate="title" module="d1m_chef">
                        <title>厨师管理</title>
                        <action>chef/adminhtml_chef/index</action>
                        <sort_order>900</sort_order>
                    </d1m_chef>
                </children>
            </etam>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <etam translate="title">
                        <title>定制功能</title>
                            <children>
                                <d1m_chef translate="title" module="d1m_chef">
                                    <title>厨师管理</title>
                                </d1m_chef>
                            </children>
                        </etam>
                    </children>
                </admin>
            </resources>
        </acl>

        <translate>
            <modules>
                <D1m_Chef>
                    <files>
                        <default>D1m_Chef.csv</default>
                    </files>
                </D1m_Chef>
            </modules>
        </translate>

        <layout>
            <updates>
                <chef>
                    <file>d1m_chef.xml</file>
                </chef>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <d1m_chef>
                <class>D1m_Chef_Model</class>
                <resourceModel>d1m_chef_mysql4</resourceModel>
            </d1m_chef>
            <d1m_chef_mysql4>
                <class>D1m_Chef_Model_Mysql4</class>
                <entities>
                    <chef>
                        <table>d1m_chef</table>
                    </chef>
                </entities>
            </d1m_chef_mysql4>
        </models>
        <resources>
            <d1m_chef_setup>
                <setup>
                    <module>D1m_Chef</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </d1m_chef_setup>
            <d1m_chef_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </d1m_chef_write>
            <d1m_chef_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </d1m_chef_read>
        </resources>
        <blocks>
            <d1m_chef>
                <class>D1m_Chef_Block</class>
            </d1m_chef>
        </blocks>
        <helpers>
            <d1m_chef>
                <class>D1m_Chef_Helper</class>
            </d1m_chef>
        </helpers>
    </global>

</config>
